###
### START ignore everything
###
# ignore everything by default
*
# do not ignore directories (still ignores their content)
!*/
# still ignore directiories with a leading dot
.*/
# do not ignore .gitignore files
!.gitignore
!.gitattributes
###
### END ignore everything
###

# shareable Jetbrains files
!.idea/modules.xml
!.idea/watcherTasks.xml
!.idea/vcs.xml
!.idea/misc.xml
!*.iml

!*.md
!*.nix
!*.patch
!*.sh
!*.sops.yaml
!*.unattended.sops.*
!/.envrc
!/flake.lock
.*.nix

# project specific files

!/*.py
!/test_*.http
!/requirements.txt
!/requirements.lock.txt
